.container {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 5px;
}

.trsContainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 16px;
}
