@font-face {
  font-family: __font_083edc;
  src: url(/fonts/Manrope/Manrope-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: __font_Fallback_083edc;
  src: local("Arial");
  ascent-override: 79.81%;
  descent-override: 15.53%;
  line-gap-override: 0%;
  size-adjust: 125.78%;
}

html {
  font-family: __font_083edc, __font_Fallback_083edc;
}
