:root {
  // base
  --min-width: 320px;
  --radius: 20px;
  --duration: 0.3s;

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #4c24ec;
  --color-loader: #111214;

  --color-gray-100: #1c1c1f;
  --color-gray-200: #2a2a2e;
  --color-gray-300: #3d3d43;
  --color-gray-400: #dadada;

  // z-index
  --player-z-index: 1500;
  --popup-z-index: 1000;
  --header-z-index: 100;
  --menu-z-index: 150;
  --window-z-index: 1000;
  --select-z-index: 50;
  --filters-z-index: 150;
}
