.root {
  display: flex;
  flex-direction: column;
  grid-row-gap: 12px;

  .field {
    display: grid;
    grid-template: 1fr / min-content 1fr;
    grid-gap: 12px;

    .label {
      min-width: 160px;

      @media (max-width: 768px) {
        min-width: 120px;
      }
    }

    .label,
    .value {
      color: var(--color-gray-400);
      font-size: 16px;
      font-weight: 600;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    .value {
      &.asLink {
        border-bottom: 2px solid var(--color-gray-300);
      }
      & span {
        color: var(--color-gray-300);
      }
    }

    .valuesWrapper {
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 12px;
      grid-row-gap: 6px;
    }
  }
}
