.mainWrapper {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-gap: 34px;
  z-index: 2;

  padding-top: 14px;
  padding-bottom: 14px;

  background: rgba(26, 26, 26, 0.7);

  backdrop-filter: blur(30px);

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 576px) {
    grid-gap: 24px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;

    svg {
      width: 24px;
      height: 24px;
    }

    p {
      color: #dadada;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      margin: 0;
    }
  }
}
