.btn {
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  color: var(--color-white);
  transition: opacity var(--duration);

  @media (max-width: 768px) {
    opacity: 1;
  }

  @media (max-width: 576px) {
    width: 22px;
    height: 22px;
  }

  &:hover {
    opacity: 1;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
