.root {
  width: 100%;
  background-color: var(--color-black);
  z-index: var(--player-z-index);
  margin-bottom: 45px;

  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}
