.container {
  width: 100%;
  position: absolute;
  bottom: 15px;
  padding: 10px 17px;

  display: flex;
  flex-direction: column;
  z-index: 1;

  @media screen and (max-width: 576px) {
    padding: 0 10px;
  }
}

.actionPartsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionParts {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;

  &,
  &:focus {
    outline: 0;
  }
}

.durationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    font-size: 14px;
  }
}

.actionBtn {
  height: 40px;
  width: 40px;
  min-height: unset;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  svg {
    height: 100%;
    width: 100%;
    stroke: rgba(#fff, 0.6);
    fill: rgba(#fff, 0.6);
  }

  @media (max-width: 577px) {
    height: 30px;
    width: 30px;
  }
}

.slider {
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  height: 4px;
  outline: none;
  padding: 0;
  margin: 5px 0;
  -webkit-transition: height 0.15s 0s ease, width 0.15s 0s ease;
  -moz-transition: height 0.15s 0s ease, width 0.15s 0s ease;
  -o-transition: height 0.15s 0s ease, width 0.15s 0s ease;
  transition: height 0.15s 0s ease, width 0.15s 0s ease;

  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: #a5aab2;
    border-radius: 50%;
  }
  &::-ms-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #a5aab2;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #a5aab2;
    cursor: pointer;
  }

  .seeking {
    &::-webkit-slider-thumb,
    &::-ms-thumb,
    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: #eb3e3e;
    }
  }
}

.movie_params {
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 0;

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.movie_title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 17px;
  background-color: rgba(#000000, 0.3);
  backdrop-filter: blur(16px);
  z-index: 1;

  @media screen and (max-width: 576px) {
    padding: 5px 10px;
  }
}
