.nav {
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  height: 100%;

  grid-gap: 30px;

  @media (max-width: 1024px) {
    grid-gap: 27px;
  }
}

.item {
  height: 100%;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
  color: var(--color-white);
  transition: opacity var(--duration);

  &:hover {
    opacity: 1;
  }
}
