@import "normalize.css";
:root {
  --min-width: 320px;
  --radius: 20px;
  --duration: 0.3s;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #4c24ec;
  --color-loader: #111214;
  --color-gray-100: #1c1c1f;
  --color-gray-200: #2a2a2e;
  --color-gray-300: #3d3d43;
  --player-z-index: 1500;
  --popup-z-index: 1000;
  --header-z-index: 100;
  --menu-z-index: 150;
  --window-z-index: 1000;
  --select-z-index: 50;
  --filters-z-index: 150;
}

@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Medium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Light.woff2) format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Thin.woff2) format("woff2");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: __font_Fallback_083edc;
  src: local("Arial");
  ascent-override: 79.81%;
  descent-override: 15.53%;
  line-gap-override: 0%;
  size-adjust: 125.78%;
}
html {
  font-family: __font_083edc, __font_Fallback_083edc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  --column-gap: 8px;
}
@media (min-width: 769px) {
  .page {
    --column-gap: 15px;
  }
}
@media (min-width: 1401px) {
  .page {
    --column-gap: 18px;
  }
}

.page__body {
  min-width: var(--min-width);
  min-height: 100%;
  font-size: 16px;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-anchor: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn-reset {
  border: none;
  font-family: inherit;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: var(--color-white);
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 96px;
  padding-right: 96px;
}
.container--narrow {
  max-width: 1100px;
}
@media (max-width: 1720px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.slider-track-0 {
  background: var(--color-primary) !important;
}

.slider-track-1 {
  background: rgba(255, 255, 255, 0.5) !important;
}/*# sourceMappingURL=index.css.map */