.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  border-radius: 4px;
  color: var(--color-white);
  transition: background-color var(--duration), color var(--duration);
}
.btn.primary {
  background-color: var(--color-primary);
}
.btn.primary:hover {
  background-color: #1250c9;
}
.btn.primary:active {
  background-color: #1c63ee;
}
.btn.white {
  color: var(--color-black);
  background-color: var(--color-white);
}
.btn.white:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.btn.white:active {
  background-color: rgba(255, 255, 255, 0.8);
}
.btn.gray {
  background-color: var(--color-gray-100);
}
.btn.gray:hover {
  background-color: var(--color-gray-200);
}
.btn.gray:active {
  background-color: var(--color-gray-300);
}
.btn.rounded {
  border-radius: 100px;
}
.btn.glass {
  background-color: rgba(136, 140, 146, 0.3);
  backdrop-filter: blur(16px);
}
.btn.glass .startIcon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
.btn.glass .startIcon svg {
  width: 100%;
  height: 100%;
}
.btn.glass:hover {
  background-color: rgba(136, 140, 146, 0.4);
}
.btn.glass:active {
  background-color: rgba(136, 140, 146, 0.5);
}
.btn.gradient {
  background: linear-gradient(85.23deg, #2253b2 0%, #3b19c5 100%);
}
.btn.gradient:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color var(--duration);
}
.btn.gradient:hover:before {
  background-color: #3344db;
}
.btn.gradient:active:before {
  background-color: #2f43f6;
}
.btn span {
  position: relative;
}

.spinner {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}

.startIcon,
.endIcon {
  display: block;
  width: 19px;
  height: 19px;
}
.startIcon svg,
.endIcon svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.startIcon {
  margin-right: 7px;
}

.endIcon {
  margin-left: 7px;
}

.small {
  font-size: 13px;
  line-height: 15px;
  padding: 9px 12px;
}

.regular {
  font-size: 13.2px;
  line-height: 15px;
  padding: 9px 15px 10px;
  min-height: 44px;
}

.medium {
  font-size: 13.5px;
  line-height: 18px;
  min-width: 43px;
  min-height: 43px;
  padding: 12px;
}

.big {
  min-width: 52px;
  min-height: 52px;
  padding: 14px;
  font-size: 15.5px;
  line-height: 1;
  letter-spacing: 0.2px;
}
@media (max-width: 576px) {
  .big {
    font-size: 13.5px;
    min-height: 48px;
    min-width: 48px;
  }
}
.big svg {
  width: 22px;
  height: 22px;
}

.large {
  font-size: 16px;
  line-height: 22px;
  padding: 18px 29px;
  text-transform: uppercase;
  min-width: 265px;
}
@media (max-width: 576px) {
  .large {
    font-size: 14px;
    line-height: 21px;
    padding: 17px 28px;
    min-width: 260px;
  }
}

.skeleton {
  cursor: default;
  color: rgba(255, 255, 255, 0.4);
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0.7;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}/*# sourceMappingURL=styles.module.css.map */