.root {
  width: 100%;
  background-color: var(--color-black);
  z-index: var(--player-z-index);

  margin-bottom: 45px;

  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }
}

.playerWrapper {
  position: relative;
  height: 100%;
}

.player {
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
}

.spinner {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black);

  &.isLoading {
    display: flex;
  }

  svg {
    @media (min-width: 577px) {
      transform: scale(1.1);
    }
  }
}

.movieConfigs {
  width: 100%;
}
