.sliderWrapper {
  position: relative;

  &:hover {
    .seek {
      display: block;
    }
  }
}

.seek {
  position: absolute;
  top: -6px;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  height: 40px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;
  outline: none;

  &::after,
  &::before {
    content: "";
    height: 4px;
    position: absolute;
  }

  &::after {
    background: rgb(255, 255, 255);
  }

  &::before {
    background: var(--color-primary);
    z-index: 1;
  }
}
