.section {
  @media (max-width: 992px) {
    // display: none;
  }

  @media (max-width: 992px) {
    margin-bottom: 64px;
  }

  @media (max-width: 576px) {
    margin-bottom: 35px;
  }
}

.poster {
  height: min-content;
  border: 1px solid #000;
  background: #000;
  margin: 0 40px 0 0;
  object-fit: contain;

  @media (max-width: 768px) {
    max-width: 240px;
    margin: 0 20px 0 0;
    justify-self: center;
  }

  @media (max-width: 576px) {
    max-width: unset;
    margin: 0;
  }
}

// @media (max-width: 1300px) {
//     padding-bottom: 53%;
//   }

//   @media (max-width: 1024px) {
//     padding-bottom: 56.25%;
//   }

//   @media (max-width: 992px) {
//     display: none;
//   }

.container {
  width: 100%;
  display: flex;
  height: 100%;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.alternativeName {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(#fff, 0.9);
  margin-bottom: 17px;
}
