.window {
  position: fixed;
  z-index: var(--window-z-index);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(#000, 0.95);
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 21px;
  height: 21px;
  opacity: 0.5;

  @media (max-width: 1024px) {
    right: 25px;
  }

  @media (max-width: 576px) {
    width: 16px;
    height: 16px;
    top: 27px;
    right: 22px;
    opacity: 1;
  }

  &:hover {
    svg {
      fill: var(--color-white);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-white);
    transition: fill var(--duration);
  }
}

.container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  max-width: 850px;
  margin: 0 auto;
  padding: 80px 20px;

  @media (max-width: 576px) {
    padding: 55px 20px 40px;
  }
}

.title {
  margin-bottom: 40px;

  @media (max-width: 576px) {
    margin-bottom: 35px;
  }
}

.caption {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.desc {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(#fff, 0.6);
  transition: opacity var(--duration);
  margin-top: 4px;
}
