.root {
  margin-bottom: 32px;

  @media (max-width: 992px) {
    margin-bottom: 20px;
  }

  @media (max-width: 576px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
}

.alternativeTitle {
  color: var(--color-gray-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 4px 0 0;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
