.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;

  margin-right: 15px;

  @media (max-width: 450px) {
    grid-gap: 5px;
  }

  @media (min-width: 577px) {
    display: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85px;
  width: 85px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  background-color: var(--color-gray-200);
  border-radius: 100%;
  margin-bottom: 7px;

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: transparent;
    transition: fill var(--duration);
  }
}

.label {
  font-size: 11px;
  line-height: 18px;
  color: var(--color-white);
}

.activeClass {
  svg {
    fill: var(--color-white);
  }
}
