.btns {
  display: flex;
  align-items: center;
  padding: 8px 0;
  margin: 12px 0 0;

  @media (max-width: 576px) {
    width: 100%;
    flex-direction: column;
  }
}

.btn {
  svg {
    fill: transparent;
    transition: fill var(--duration);
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  &:not(:first-child) {
    margin-left: 12px;

    @media (max-width: 576px) {
      display: none;
    }
  }
}

.isFavorite {
  svg {
    fill: var(--color-white);
  }
}
