.playerContainer {
  height: min-content;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}

.defaultPlatBtn {
  & svg {
    height: 60px;
    width: 150px;
    path {
      stroke: var(--color-primary);
    }

    @media screen and (max-width: 768px) {
      height: 30px;
      width: 75px;
    }
  }
}
