.root {
  display: grid;
  grid-template: 1fr / min-content 1fr;
  grid-gap: 12px;
  margin: 12px 0 0;

  .label {
    min-width: 160px;

    @media (max-width: 768px) {
      min-width: 120px;
    }
  }

  .value {
    border-bottom: 2px solid var(--color-gray-300);
  }

  .label,
  .value {
    color: var(--color-gray-400);
    font-size: 16px;
    font-weight: 600;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
