.wrapper {
  position: relative;
}

.btn {
  min-height: unset;
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
  border: none;

  cursor: pointer;
  svg {
    height: 100%;
    width: 100%;
    stroke: rgba(#fff, 0.6);
    fill: rgba(#fff, 0.6);
  }

  @media (max-width: 577px) {
    height: 30px;
    width: 30px;
  }
}

.rangeWrapper {
  position: absolute;
  top: -125px;
  left: -80px;
  width: 200px;
  height: 40px;

  transform: rotate(-90deg);
  background-color: rgba(136, 140, 146, 0.3);
  backdrop-filter: blur(16px);
  border-radius: 4px;
  padding: 0 5px;
  z-index: 1;

  @media screen and (max-width: 576px) {
    height: 30px;
    width: 120px;
    top: -80px;
    left: -45px;
  }
}

.ranger {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;
  outline: none;

  &::after {
    content: "";
    height: 4px;
    position: absolute;
  }

  &::after {
    background: var(--color-primary);
  }
}

.muted {
  &::after {
    background: #ccc;
  }
}
