.nav {
  height: 100%;
  margin: 8px 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: auto;
  grid-gap: 12px;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.item {
  overflow: unset;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-white);
}
