.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  grid-gap: 12px;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 30px;

  @media (max-width: 576px) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.desc {
  max-width: 900px;
  margin: 0;
  font-size: 16.5px;
  line-height: 31px;
  font-weight: 300;
  color: rgba(#fff, 0.7);
  text-align: left;
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);

  @media (max-width: 576px) {
    font-size: 12.5px;
    line-height: 24px;
  }
}

.btn {
  font-size: 16.5px;
  line-height: 20px;
  margin-top: 15px;
  color: rgba(#fff, 0.6);
  color: #2067f0;
  transition: color var(--duration);

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #0057ff;
    }
  }
}
