.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--header-z-index);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  transition: transform var(--duration);

  &.fixed {
    transform: translateY(-100%);

    @media (max-width: 1024px) {
      transform: translateX(0%);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  transition: height var(--duration);

  @media (max-width: 576px) {
    height: 50px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 24px;
  height: 100%;
}
