.select {
  --radius: 6px;
  position: relative;

  &.isOpen {
    .arrow {
      transform: rotate(90deg);
    }

    .options {
      display: block;
    }
  }
}

.value {
  display: block;
  font-size: 13.3px;
  line-height: 24px;
  margin-right: 14px;
}

.top {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: var(--radius);
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--color-gray-100);
  user-select: none;
  transition: background-color var(--duration);

  &:hover {
    background-color: rgba(#8a8e96, 0.3);
  }

  &:active {
    background-color: rgba(#8a8e96, 0.4);
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.arrow {
  display: block;
  width: 14px;
  height: 14px;
  fill: rgba(#fff, 0.6);
  transform: rotate(270deg);
  transition: transform var(--duration);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.options {
  position: absolute;
  z-index: var(--select-z-index);
  border-radius: var(--radius);
  background-color: var(--color-gray-100);
  max-height: 385px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  &.bottom-start {
    top: calc(100% + 8px);
    left: 0;
  }

  &.bottom-end {
    top: calc(100% + 8px);
    right: 0;
  }

  &.top-start {
    bottom: calc(100% + 8px);
    left: 0;
  }
}

.option {
  position: relative;
  font-weight: 300;
  padding: 15px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--duration);
  text-transform: capitalize;

  &.isSelected {
    font-weight: 400;
    background-color: var(--color-primary);

    .check {
      display: block;
    }
  }

  &:hover {
    background-color: var(--color-gray-200);
  }
}

.check {
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  width: 27px;
  height: 27px;
  transform: translateY(-50%);
  display: none;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
