.qualityWrapper {
  min-width: 50px;
  position: relative;

  &:hover {
    .choices {
      height: fit-content;
      padding: 0 0 10px;
    }
  }
}

.choices {
  height: 0;
  position: absolute;
  bottom: calc(100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &:last-child {
    margin-bottom: 10px;
  }
}

.qBtn {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice {
  .qBtn {
    color: rgba(#fff, 0.6);

    &.selected {
      color: #000;
    }
  }
}
